* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-image: url("../skejtbord_skejt_skejter_205475_3840x2160.jpg");
    background-size: cover;
}

.animate {

    transition: 0.5s;

}
.animate:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
    transform: scale(1.05);
    background-color: #ffe8a1;
    color: #16181b;
    animation-name: jsAnimate;
    animation-duration: 4s;
    animation-direction: inherit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.manime:hover{
    background-color: #b3b7bb;

}
textarea {
    caret-color: red;
}

.pen {
    background-color: #ffe8a1;
}

.doi {
    background-color: #b8daff;
}

.don {
    background-color: #b1dfbb;
}

.rej {
    background-color: #f17b78;
}

.cb2:hover {
    background-color: #b8daff;
}

.cb3:hover {

    background-color: #b1dfbb;
}

.cb4:hover {
    color: white;
    background-color: #f17b78;
}

@keyframes jsAnimate {
    0% {
        transform: scale(1);
    }
    50% {

        transform: scale(0.98);
    }
    100% {

        transform: scale(1);
    }
}
